*.bat text eol=lf
*.c text eol=lf
*.cmd text eol=lf
*.conf text eol=lf
*.cpp text eol=lf
*.css text eol=lf diff=css
*.csv text eol=lf
*.h text eol=lf
*.htm text eol=lf diff=html
*.html text eol=lf diff=html
*.ini text eol=lf
*.java text eol=lf diff=java
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf diff=markdown
*.properties text eol=lf
*.py text eol=lf diff=python
*.sh text eol=lf
*.tex text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
LICENSE text eol=lf
