name: Check Code

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0 # 0 if you want to push to repo

      - name: gitleaks
        uses: gitleaks/gitleaks-action@v2

      - name: Python set up
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      # - name: Python cache set up
      #   uses: actions/cache@v3
      #   with:
      #     path: ${{ env.pythonLocation }}
      #     key: ${{ env.pythonLocation }}-py-cache

      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # - name: install apt packages
      #   run: |
      #     sudo apt-get install -y perltidy

      # could not fix the issue
      # - name: Run pre-commit tests
      #   uses: pre-commit/action@v3.0.0
